{
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "semi": true,
  "singleAttributePerLine": false,
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "always",
  "trailingComma": "all"
}
